div.lsidebar {
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in;
    width: 220px;
    margin-left: 2.8rem !important;
    margin-right: 1.5rem !important;
}

a.lsidebar-item i, a.lsidebar-item div.lsidebar-tab {
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s;
}

div.hidden.lsidebar {
    transition: 0.3s;
    width: 3rem !important;
}

.lsidebar-item {
    color: black !important;
    border-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.lsidebar-item.active {
    background-color: rgb(191, 191, 191) !important;
}

.lsidebar a.nav-link.active:hover {
    background-color: rgb(191, 191, 191) !important;
}

.lsidebar a.nav-link:hover i {
    color: black !important;
    outline: 0;
}

#lsidebar-button {
    background: rgb(221, 221, 221) !important;
}

/* Media query for small screens */
@media (max-width: 768px) {
    div.lsidebar {
        width: 3rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    div.hidden.lsidebar {
        width: 0 !important;
    }

    #lsidebar-button {
        display: block;
    }
}